/*  Sass
 *  Multuline
 *  Comment */
body {
  margin: 20px;
}

.page .page-header {
  height: 20px;
}

.page .page-navigation {
  padding-left: 0;
}

.page .page-navigation li {
  list-style: none;
}
