/*
 *  for IE 
 */

.lt-ie10 body {background-color:#e6e6e6;}
.lt-ie9  body {background-color:#ddd;}
.lt-ie8  body {background-color:#ccc;}
.lt-ie7  body {background-color:#aaa;}
.lt-ie6  body {background-color:#000;}

.ie9 body {}
.ie8 body {}
.ie7 body {}
.ie6 body {}

/*
 *  common
 */

.container {
	width: 960px; 
	margin:0 auto;
}