<!DOCTYPE html>
<!-- [if IE 6]<html lang="ko" class="ie6"><![endif]-->
<!-- [if IE 7]<html lang="ko" class="ie7"><![endif]-->
<!-- [if IE 8]<html lang="ko" class="ie8"><![endif]-->
<!-- [if IE 9]<html lang="ko" class="ie9"><![endif]-->
<!-- [if !IE]<!--><html lang="ko-KR"><!--<![endif]-->
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>About Page &lt; FDS</title>
</head>
<body>
	<h1>About Page</h1>
	<p>
		<a href="../index.html">home</a>
		<a href="about.html">about</a>
		<a href="projects.html">projects</a>
		<a href="services.html">services</a>
		<a href="contact.html">contact</a>
	</p>
</body>
</html>