.wrap {
  width:100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.col {
  width: 300px;
  height: 300px;
  float: left;  
  background: #e6e6e6;
  margin-right: 50px;
  margin-bottom: 50px;
}

.col-30:nth-child(3n) {
  margin-right: 0;
}

.col-60:nth-child(2n) {
  margin-right: 0;
}

.col-100 {
  width: 100%;
  margin-right: 0;
}
.col-60 {
  width: 650px;
}
