@charset "utf-8";

#holzweiler-header {
  position: absolute;
  height: 40px;
  left:0;
  right: 0;
  top:0;
  background: rgba(255,255,255,0.4);
}

#holzweiler-go-shop {

}
#holzweiler-go-shop a {
  display: block;
}
#holzweiler-go-shop video {
  width: 100%;
}
