/* 타이포그래피 모듈 */
body {
  font-size: 16px/1.5, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Varela Round", sans-serif;
}
h1 {
  font-size: 16px;
}
.aware-gnb a{
  font-family: "Varela Round", sans-serif;
  font-size:14px;
  color: #000;
}


.product-title {
  font-family: "Varela Round", sans-serif;
  margin-bottom: 20px;
}
.product-category {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
  color: #1f4ba5;
}
.product-desc {
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  color: #868686;
}

.product-cost {
  font-family: "Oswald", sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: #222;
}

.features h2{
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  content: #222;
}
[class*="-header"] h3{
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  content: #222;
}
.aware-gnb {
  font-family: "Varela Round", sans-serif;
}

.slider-content h3 {
  font-size:2.25rem;
}
