<!DOCTYPE html>
<!-- [if IE 6]<html lang="ko" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"><![endif]-->
<!-- [if IE 7]<html lang="ko" class="lt-ie10 lt-ie9 lt-ie8 ie7"><![endif]-->
<!-- [if IE 8]<html lang="ko" class="lt-ie10 lt-ie9 ie8"><![endif]-->
<!-- [if IE 9]<html lang="ko" class="ie9"><![endif]-->
<!-- [if !IE]<!--><html lang="ko-KR" dir="ltr"><!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- IE 호환성 처리 -->
	<meta charset="UTF-8"> <!-- 텍스트 인코딩 -->
	<title>Contact &lt; Hello, Git!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> 
	
	<!-- 검색최적화 -->
	<meta name="description" content="문의가 있으면 연락바랍니다.">
	<meta name="keywords" content="버전관리시스템,깃헙,깃,Git,Github,SVN,">
	<meta name="author" content="eatdesignlove">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">	
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">
		<header id="gnb">
			<h1>
				<a href="/">
					<img src="/images/logo.png" alt="Hello, Git! 홈페이지 로고" width="245px">
				</a>
			</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/views/about-git.html">About Git</a>
					</li>
					<li>
						<a href="/views/just-do-git.html">Just Do Git</a>
					</li>
					<li>
						<a href="/views/contact.html">Contact</a>
					</li>
				</ul>
			</nav>
			<hr>
		</header>
		<section>
			<h1>문의사항이 있는 경우 연락주세요.</h1>
			<p>eatdesignlove@gmail.com</p>
			<img src="http://placehold.it/960x240/000/fff/?text=Contact" alt="Contact">
			
		</section>
		<footer>
			<hr>
			<a href="#gnb">상단으로 이동하기</a>
			<p>eatdesignlove@gmail.com</p>
		</footer>
	</div>
</body>
</html>