<!DOCTYPE html>
<!-- [if IE 6]<html lang="ko" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"><![endif]-->
<!-- [if IE 7]<html lang="ko" class="lt-ie10 lt-ie9 lt-ie8 ie7"><![endif]-->
<!-- [if IE 8]<html lang="ko" class="lt-ie10 lt-ie9 ie8"><![endif]-->
<!-- [if IE 9]<html lang="ko" class="ie9"><![endif]-->
<!-- [if !IE]<!--><html lang="ko-KR" dir="ltr"><!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- IE 호환성 처리 -->
	<meta charset="UTF-8"> <!-- 텍스트 인코딩 -->
	<title>About Git &lt; Hello, Git!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> 
	
	<!-- 검색최적화 -->
	<meta name="description" content="Git을 소개합니다! ">
	<meta name="keywords" content="버전관리시스템,깃헙,깃,Git,Github,SVN,">
	<meta name="author" content="eatdesignlove">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">	
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">
		<header id="gnb">
			<h1>
				<a href="/">
					<img src="/images/logo.png" alt="Hello, Git! 홈페이지 로고" width="245px">
				</a>
			</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/views/about-git.html">About Git</a>
					</li>
					<li>
						<a href="/views/just-do-git.html">Just Do Git</a>
					</li>
					<li>
						<a href="/views/contact.html">Contact</a>
					</li>
				</ul>
			</nav>
			<hr>
		</header>
		<nav>
			
		</nav>
		<section>
			<h1>Git은 훌륭한 <strong>버전관리시스템</strong>입니다.</h1>
			<p>파일 변화를 시간에 따라 기록했다가 나중에 특정 시점의 버전을 다시 꺼내올 수 있는 시스템이다.</p>
			<img src="http://placehold.it/960x240/E33464/fff/?text=Version Control System" alt="Version Control System">
			
			<section>
				<h2>버전관리시스템?</h2>
				<h3>장점</h3>
				<pre>
&bull; 변경 이력을 기록을 통해서 변경된 내용을 공유 가능
&bull; 타인이 작업한 내용을 쉽게 병합
&bull; 과거 상태로 쉽게 복구 가능
&bull; 여러 분기를 통해 병렬관리 가능
				</pre>

				<h3>버전관리시스템의 종류</h3>
				<pre>
&bull; <strong>Subversion(SVN)</strong> Git 이전의 대표적인 원격 저장소
&bull; <strong>Mercurial</strong> Git과 비슷한 철학으로 만들어졌으며, 가벼운 구조와 쉬운 사용에 목적이 있다.
&bull; <strong>Git</strong> 
				</pre>
			</section>
			<section>
				<h2>Git?</h2>
				<h3>장점</h3>
				<pre>
&bull; 복잡한 Branch 관리에 적합
&bull; 로컬 저장소와 원격저장소의 분리
&bull; 심플, 핵심적 기능이 강력
&bull; 빠른 속도
&bull; 다양한 서비스 업체
&bull; 다양한 보조 툴
				</pre>

				<h3>Git의 흐름</h3>
				<img src="http://placehold.it/310x64/FFC0B1/fff/?text=1.Working Directory" alt="1.Working Directory">
				<img src="http://placehold.it/310x64/FF7353/fff/?text=2.Staging Area" alt="2.Staging Area">
				<img src="http://placehold.it/310x64/B24228/fff/?text=3.Repositoy" alt="3.Repositoy">

				<h3>Git Repository의 종류</h3>
				<h4>Local Repository</h4>
				<pre>
&bull; 작업 중인 컴퓨터에 존재
&bull; 잦은 저장소 처리요청에도 부담이 없음
&bull; 외부 저장소에 손실이 있더라도 빠르게 복구가능
&bull; 인터넷 없이도 작업 가능
&bull; 인터넷을 사용하지 않기 때문에 매우 빠른 속도
				</pre>

				<h4>Remote Repository</h4>
				<pre>
&bull; 전통적인 관점의 저장소 개념
&bull; 외부 서버에 위치하여 변경 이력을 기록하는 부분
&bull; 인터넷을 이용해서 접근
&bull; 다중 사용자로부터 관리되는 각 로컬 저장소의 접점
				</pre>
			</section>

		</section>
		<footer>
			<hr>
			<a href="#gnb">상단으로 이동하기</a>
			<p>eatdesignlove@gmail.com</p>
		</footer>
	</div>
</body>
</html>