<!DOCTYPE html>
<!-- [if IE 6]<html lang="ko" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"><![endif]-->
<!-- [if IE 7]<html lang="ko" class="lt-ie10 lt-ie9 lt-ie8 ie7"><![endif]-->
<!-- [if IE 8]<html lang="ko" class="lt-ie10 lt-ie9 ie8"><![endif]-->
<!-- [if IE 9]<html lang="ko" class="ie9"><![endif]-->
<!-- [if !IE]<!--><html lang="ko-KR" dir="ltr"><!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- IE 호환성 처리 -->
	<meta charset="UTF-8"> <!-- 텍스트 인코딩 -->
	<title>Just do Git &lt; Hello, Git!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> 
	
	<!-- 검색최적화 -->
	<meta name="description" content="Git 사용법을 알려드립니다. ">
	<meta name="keywords" content="버전관리시스템,깃헙,깃,Git,Github,SVN,">
	<meta name="author" content="eatdesignlove">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">	
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">
		<header id="gnb">
			<h1>
				<a href="/">
					<img src="/images/logo.png" alt="Hello, Git! 홈페이지 로고" width="245px">
				</a>
			</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/views/about-git.html">About Git</a>
					</li>
					<li>
						<a href="/views/just-do-git.html">Just Do Git</a>
					</li>
					<li>
						<a href="/views/contact.html">Contact</a>
					</li>
				</ul>
			</nav>
			<hr>
			<a href="#tutorial-start">[1]Github 시작하기</a>
			<a href="#tutorial-use">[2]Github 사용하기</a>
		</header>

		<section>
			<h1>Git을 직접 사용해봅시다!</h1>
			<p>Git을 이용하기 위해서 먼저 Github에 가입합니다.<sup>Lorem ipsum dolor sit amet.</sup></p>
			<img src="http://placehold.it/960x240/F2B705/fff/?text=Just Do Git!" alt="Just Do Git!">
			
			<section id="tutorial-start">
				<h2>[1]Github 시작하기</h2>
		
				<h3>1.Github사이트에 접속합니다.
					<sub><a href="http://github.com" target="_blank">http://github.com</a></sub>
				</h3>
				<img src="/images/git-start-01.png" width="960px" alt="Github사이트에 접속한 화면">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea suscipit quam sunt accusamus eaque ducimus, optio <strong>sapiente veritatis</strong> rerum doloremque hic eligendi, maiores necessitatibus consectetur beatae, sed voluptatibus <em>quibusdam</em> dolorem aliquid alias temporibus provident inventore accusantium repudiandae perferendis? Nemo, in.</p>	

				<h3>2.Github사이트에 가입합니다.</h3>
				<img src="/images/git-start-02.png" width="960px" alt="Github가입하는 화면">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea suscipit quam sunt accusamus eaque ducimus, optio sapiente veritatis rerum doloremque hic eligendi, maiores necessitatibus consectetur beatae, sed voluptatibus quibusdam dolorem aliquid alias temporibus provident inventore accusantium repudiandae perferendis? Nemo, in.</p>	

				<h3>3.Repository 하나를 만들어보세요.</h3>
				<img src="/images/git-start-03.png" width="960px" alt="새로운 저장소를 만드는 화면">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea suscipit quam sunt accusamus eaque ducimus, optio sapiente veritatis rerum doloremque hic eligendi, maiores necessitatibus consectetur beatae, sed voluptatibus quibusdam dolorem aliquid alias temporibus provident inventore accusantium repudiandae perferendis? Nemo, in.</p>	
			</section>
			<section id="tutorial-use">
				<h2>[2]Github 사용하기</h2> <a href="#gnb">위로이동</a>
		
				<h3>1.소스트리를 설치합니다.</h3>

				<img src="/images/git-use-01.png" width="960px" alt="Github사이트에 접속한 화면">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea suscipit quam sunt accusamus eaque ducimus, optio <strong>sapiente veritatis</strong> rerum doloremque hic eligendi, maiores necessitatibus consectetur beatae, sed voluptatibus <em>quibusdam</em> dolorem aliquid alias temporibus provident inventore accusantium repudiandae perferendis? Nemo, in.</p>	

				<h3>2.설치가 완료되면, github계정으로 로그인합니다.</h3>
				<img src="/images/git-use-02.png" width="960px" alt="Github가입하는 화면">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea suscipit quam sunt accusamus eaque ducimus, optio sapiente veritatis rerum doloremque hic eligendi, maiores necessitatibus consectetur beatae, sed voluptatibus quibusdam dolorem aliquid alias temporibus provident inventore accusantium repudiandae perferendis? Nemo, in.</p>	

				<h3>3.아까 생성하였던 Repository를 확인하세요.</h3>
				<img src="/images/git-use-03.png" width="960px" alt="새로운 저장소를 만드는 화면">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea suscipit quam sunt accusamus eaque ducimus, optio sapiente veritatis rerum doloremque hic eligendi, maiores necessitatibus consectetur beatae, sed voluptatibus quibusdam dolorem aliquid alias temporibus provident inventore accusantium repudiandae perferendis? Nemo, in.</p>	
			</section>
		</section>
		<footer>
			<hr>
			<a href="#gnb">상단으로 이동하기</a>
			<p>eatdesignlove@gmail.com</p>
		</footer>
	</div>
</body>
</html>