/*
  페이지 구조 
  Float 레이아웃 디자인
  Float 영향을 받는 요소에서 해제를 하지 않을 경우 발생하는 문제.
*/

/* 공통 모듈 디자인 */
[class^="page"] {
  height: 20vh;
}
/*[class*="page-"] {
  height: 20vh;
}*/
[class^="page"]::before {
  content: attr(class);
  display: block;
  text-align: center;
  font: 1.125rem sans-serif;
  /*line-height: 20vh;*/
  color: #fff;
  text-transform: uppercase;
}

/* 개별 모듈 디자인 */
.page-header {
  background: #FF7374;
}

.page-navigation {
  background: #FFA443;
}

.page-main {
  background: #E6BC00;
  float: left;
  width: 70%;
  height: 100vh;
}

.page-sidebar {
  background: #42E4AA;
}

.page-footer {
  background: #326FB7;
  clear: both;
}
