@charset "utf-8";

/* 공통 모듈 디자인 */
html {background: #f9f9f9;}
body {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}
/* 기본 스타일 변경 */
ul, li {list-style: none; float: left;}
a {text-decoration: none; }
a:hover, button:hover {
  cursor: pointer;
}
a:focus, 
button:focus {
  outline: 2px solid #000;
  outline-offset: -2px;
} 

[class*="btn-"] {
  border: none;
  background: none;
}


/* header 영역 */
/* GNB 스타일 */

/* 로고 */
.aware-logo a {
  display: block;
  padding: 30px 0 0 20px; 
  height: 80px;
}

/* 햄버거 메뉴 */
.aware-hamberger-button {
  display: block;
  width: 45px;
  height: 45px;
  margin: 20px 0 0 15px;
}

/* GNB, UNB 스타일 */
.aware-gnb a,
.aware-unb a {
  display: block;
  height: 80px;
  padding:0 10px;
  line-height: 80px;
}
.aware-gnb a::after {
  content: url(../images/svg-icon-arrow-down.svg);
  margin-left: 15px;
  position: relative;
  top: -2px;
}
.aware-unb {
  padding-top: 20px;
}
.aware-unb [class*="btn-"] {
  width: 40px;
  height: 40px;
  line-height: 40px;
}


/* Slider section */
.slider {
  background: #eeeeee;
  position: relative;
}
.slider-controller {
  width: 100%;
  position: absolute;
  top: 220px;
}
.slider-controller [class*="arrow-"]{
  border:none;
  background: none;
}
.arrow-next {float: right; margin-right: 30px;}
.arrow-prev {float: left; margin-left:30px;}

.slider-content {
  position: relative;
  height: 480px;
  background: url(../images/photo-slider-content.jpg);
  padding-top: 120px;
}
.slider-list ul,
.slider-list li {
  width: 100%;
}
.slider-list a {
  display: block;
  height: 120px;
  background: #ccc;
  text-indent: -9999px;
}
.slider-list li:nth-child(1) a {
  background: url(../images/photo-slider-slides-01.jpg);
}
.slider-list li:nth-child(2) a {
  background: url(../images/photo-slider-slides-02.jpg);
}
.slider-list li:nth-child(3) a {
  background: url(../images/photo-slider-slides-03.jpg);
}
.slider-list li:nth-child(4) a {
  background: url(../images/photo-slider-slides-04.jpg);
}

/* banners */
.banners a {
  display: block;
  height: 240px;
  background: #9AE3BC;
  text-align: center;
}

.banners li:nth-child(1) a {
  background: url(../images/photo-banners-01.jpg);
}
.banners li:nth-child(2) a {
  background: url(../images/photo-banners-02.jpg);
}
.banners li:nth-child(3) a {
  background: url(../images/photo-banners-03.jpg);
}
.banners h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  color: #232323;
}
/* feature product */
.features a {
  display: block;
  width: 100%;
  height: 240px;
  background: #fff;
  text-align: center;
}


.features article:nth-child(2) a {
  background: url(../images/photo-featured-01.jpg) no-repeat center;
}
.features article:nth-child(3) a {
  background: url(../images/photo-featured-02.jpg) no-repeat center;
}
.features article:nth-child(4) a {
  background: url(../images/photo-featured-03.jpg) no-repeat center;
}
.features article:nth-child(5) a {
  background: url(../images/photo-featured-04.jpg) no-repeat center;
}
.features article:nth-child(6) a {
  background: url(../images/photo-featured-05.jpg) no-repeat center;
}
.features article:nth-child(7) a {
  background: url(../images/photo-featured-06.jpg) no-repeat center;
}
.features article:nth-child(8) a {
  background: url(../images/photo-featured-07.jpg) no-repeat center;
}



.blog a {
  display: block;
  width: 100%;
  height: 240px;
}

.blog article:last-child,
.blog article:nth-last-child(2),
.blog article:last-child a,
.blog article:nth-last-child(2) a {
  height: 120px;
}

/* testimonials */
.testimonials {
  height:480px;
}

/* about */
.about {
  height: 480px;
}
.about-infographic [class*="col-"]{
  height: 60px;
}
.about [class*="our-info"] { 
  background: #1f4ba5;
  padding-top: 10px;
  padding-left: 50px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 1.25;
}
.about [class*="our-info"] span {
  display: block;
  font-family: 'PT serif', sans-serif;
  font-size: 12px;
}
.about .our-photo {
  text-indent: -9999px;
}
.our-photo:nth-child(1) {background: url("../images/photo-Inf-01.jpg");}
.our-photo:nth-child(2) {background: url("../images/photo-Inf-02.jpg");}
.our-photo:nth-child(5) {background: url("../images/photo-Inf-03.jpg");}
.our-photo:nth-child(6) {background: url("../images/photo-Inf-04.jpg");}
.our-photo:nth-child(7) {background: url("../images/photo-Inf-05.jpg");}

/* brands */
.brands a {
  display: block;
  height: 120px;  
}
.brands a[class*="brand-"] {
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

a.brand-hnm        { background: url("../images/Logos-[sprites].png"); }
a.brand-puma       { background: url("../images/Logos-[sprites].png"); }
a.brand-adidas     { background: url("../images/Logos-[sprites].png"); }
a.brand-converse   { background: url("../images/Logos-[sprites].png"); }
a.brand-boss       { background: url("../images/Logos-[sprites].png"); }
a.brand-nike       { background: url("../images/Logos-[sprites].png"); }
a.brand-crown      { background: url("../images/Logos-[sprites].png"); }
a.brand-moreview   { 
  font-family: "Oswald", sans-serif;
  text-align: center; 
  text-indent: initial; 
  background: url(../images/274.png);
}






/* footer section */
footer {
  background: #222222;
  text-align: center;
}

.categories {
  height: 60px;
}
.categories li{
  display: inline-block;
  height: 60px;
  float: none;
}

.copyright {
  height: 120px;
}

.socials-payments ul {
  height: 60px;
}
