/* 기본 스타일 변경 */
ul, li {list-style: none;}

/* Header 스타일 */

.aware-header li {
  float: left;
}

/* GNB 스타일 */
.aware-logo {
  width: 95px;
  margin-left: 80px;
}
.aware-gnb a {
  width: 100%;
  display: block;
  position: relative;
}
.aware-gnb a::after {
  content: url(../images/svg-icon-arrow-down.svg);
}
.aware-gnb li {
  padding:0 15px;
}
