body {
  background-image: -webkit-radial-gradient(#5BD1F7, #36B9F7, #2396F7);
  height: 100vh;
}

.buttonset-movie-control {
  background-image: linear-gradient(180deg, #fefefe, #cbcbcb);
  height: 42px;
  width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #676767;
  border-radius: 42px;
  padding: 0 21px 0;
}

[class*='button-'] {
  display: block;
  float: left;
  border:none;
  border-radius: 0;
  text-align: center;
  line-height: 42px;
  padding: 0;
  width: 33.3333%;
  position: relative;
  background: none;
  font-weight: bolder;
}
[class*="button-"]:first-child::before {
  content: '';
  display: block;
  width: 42px;
  height: 42px;
  position: absolute;
  left: -21px;
  top: 0;
  background-image: linear-gradient(180deg, #fefefe, #cbcbcb);
  border-radius: 42px;
  z-index: -1;
}
[class*="button-"]:last-child::after {
  content: '';
  display: block;
  width: 42px;
  height: 42px;
  position: absolute;
  right: -21px;
  top: 0;
  background-image: linear-gradient(180deg, #fefefe, #cbcbcb);
  border-radius: 42px;
  z-index: -1;
}
[class*='button-'] span[class^="fa"] {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.25rem;
  color: #666;
}

/* 상태 디자인 */
button[class*='button-']:focus,
button[class*='button-']:focus::before,
button[class*='button-']:focus::after {
  background: linear-gradient(180deg, #3C5CF7 20%, #3381FF);
  color: #fff;
}
button[class*='button-']:focus span[class^="fa"] {
  color: inherit;
}

button[class*='button-']:hover,
button[class*='button-']:hover::before,
button[class*='button-']:hover::after {
  background: linear-gradient(180deg, #aaa 10%, #ccc);
  color: #fff;
}
button[class*='button-']:hover span[class^="fa"] {
  color: inherit;
}

