

body {
  font-family: "Spoqa Han Sans", sans-serif;
  background:
  linear-gradient(-45deg, transparent 50%, hsla(0, 50%, 0%, 0.5) 51%, transparent 52%),
  linear-gradient(45deg, transparent 50%, hsla(0, 50%, 0%, 0.5) 51%, transparent 52%),
  url("../images/Rain-City.jpg") no-repeat center;
  background-size: 40px, 40px, cover;
  color: #f00;
  font-weight: 200;
  text-shadow: 0 0 5px #000;
  margin: 0;
}

::selection {
  background: #434a6a;
  color: #fff;
  text-shadow: none;
};

#page-header-bar {
    background: #fff;
    position: fixed;
    width: 100%;
}

main {
    margin: 0 20%;
}
