img {
  width: 100%;
}

.grid-container {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.grid-container::before {
  content: ''; 
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  background: hsla(60, 50%, 50%, 0.3);
  background: 
    linear-gradient(90deg, rgba(191, 64, 64, 0.3) 81%, rgba(0,0,0,0) 81%),
    linear-gradient(transparent 26px, #1FC672 26px);
  background-size: 
    160px 1px,
    1px 1.6875rem;
}
.grid {
  margin-bottom: 26px;
}
.grid::after {content: ''; display: block; clear: both;}

/* Unit Module */
[class*="unit-"] { float: left; margin-right: 30px;}
.grid [class*="unit-"]:last-child { margin-right: 0;}
.grid .unit-1 {width: 130px;}
.grid .unit-2 {width: 290px;}
.grid .unit-3 {width: 450px;}
.grid .unit-4 {width: 610px;}
.grid .unit-5 {width: 770px;}
.grid .unit-6 {width: 930px;}
.grid .unit-7 {width: 1090px;}
.grid .unit-8 {width: 1250px;}

/* Push, Pull Module */
.grid [class*="push-"] {position: relative;}
.push-1 { left: 160px; }
.push-2 { left: 320px; }
.push-3 { left: 480px; }
.push-4 { left: 640px; }
.push-5 { left: 800px; }
.push-6 { left: 960px; }
.push-7 { left: 1120px; }
.push-8 { left: 1280px; }


.grid [class*="pull-"] {position: relative;}
.pull-1 { right: 160px; }
.pull-2 { right: 320px; }
.pull-3 { right: 480px; }
.pull-4 { right: 640px; }
.pull-5 { right: 800px; }
.pull-6 { right: 960px; }
.pull-7 { right: 1120px; }
.pull-8 { right: 1280px; }


/* Prefix, Suffix Module */
/* using margin or padding */ 
/* float의 영향을 받는 형태, 전체 축 자체를 움직일 때 */
.prefix-1 { margin-left: 160px; }
.prefix-2 { margin-left: 320px; }
.prefix-3 { margin-left: 480px; }
.prefix-4 { margin-left: 640px; }
.prefix-5 { margin-left: 800px; }
.prefix-6 { margin-left: 960px; }
.prefix-7 { margin-left: 1120px; }
.prefix-8 { margin-left: 1280px; }

.suffix-1 { margin-right: 160px; }
.suffix-2 { margin-right: 320px; }
.suffix-3 { margin-right: 480px; }
.suffix-4 { margin-right: 640px; }
.suffix-5 { margin-right: 800px; }
.suffix-6 { margin-right: 960px; }
.suffix-7 { margin-right: 1120px; }
.suffix-8 { margin-right: 1280px; }
