<!DOCTYPE html>
<!-- [if IE 6]<html lang="ko" class="ie6"><![endif]-->
<!-- [if IE 7]<html lang="ko" class="ie7"><![endif]-->
<!-- [if IE 8]<html lang="ko" class="ie8"><![endif]-->
<!-- [if IE 9]<html lang="ko" class="ie9"><![endif]-->
<!-- [if !IE]<!--><html lang="ko-KR"><!--<![endif]-->
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Projects Page &lt; FDS</title>
</head>
<body>
	<h1>Projects Page</h1>
	<p>
		<a href="/">home</a>
		<a href="/views/about.html">about</a>
		<a href="/views/projects.html">projects</a>
		<a href="/views/services.html">services</a>
		<a href="/views/contact.html">contact</a>
	</p>
	<hr>
	<p id="lists">
		<a href="#project-01">Go to project-01</a><br>
		<a href="#project-02">Go to project-02</a><br>
		<a href="#project-03">Go to project-03</a><br>
		<a href="#project-04">Go to project-04</a><br>
		<a href="#project-05">Go to project-05</a><br>
		<a href="#project-06">Go to project-06</a><br>
		<a href="#project-07">Go to project-07</a><br>
		<a href="#project-08">Go to project-08</a><br>
		<a href="#project-09">Go to project-09</a><br>
		<a href="#project-10">Go to project-10</a>
	</p>
	<hr>
	
	<!-- <img src="/images/coffee.jpg" alt="coffee"> -->
	<!-- <img src="http://placehold.it/320x480/000/fff/?text=eatdesignlove" alt="eatdesignlove"> -->

	<!-- 확장된 형태의 snippet -->
	<img src="http://placehold.it/1000x420/eee/000/?text=hello" alt="hello">
	
	<hr>	
	<div>
		<h2 id="project-01">프로젝트 주제 01</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cupiditate sit necessitatibus velit adipisci itaque, sunt reiciendis, eaque maiores at aliquid reprehenderit porro ipsum possimus alias cumque sint magni. Quidem.</p>
		<p>Quasi fugiat vero doloribus, ipsum eos officiis eius numquam quisquam laborum aperiam placeat possimus officia commodi quia ea earum nisi ad tempora, vitae ex, quam nostrum. Molestias in reprehenderit expedita.</p>
		<p>Dolor blanditiis officiis a quo modi aliquid rerum, enim, ullam. Impedit vel iure, corporis tempore facilis eius illum culpa officia praesentium quia. Quidem animi earum fugiat, neque hic ad distinctio!</p>
		<a href="#lists">목록으로</a>
	</div>
	<div>
		<h2 id="project-02">프로젝트 주제 02</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas sed explicabo ratione sit officiis aut laboriosam, quam quis itaque ea neque. Adipisci praesentium, unde, voluptate consequuntur sapiente rerum voluptas odit.</p>
		<p>Placeat suscipit, perspiciatis eligendi mollitia quas omnis culpa quis nesciunt esse sed minus neque laudantium, deleniti non. Illum, consectetur quae magnam corporis, molestias aperiam ducimus totam dolores, facere vitae, deserunt!</p>
		<p>Aut modi, adipisci ex quaerat sit eos consequuntur dolor nulla sint minima vel iusto amet voluptate eum placeat animi nostrum quos velit quae. Odio, eum, consequuntur? Fugit commodi necessitatibus beatae.</p>
		<a href="#lists">목록으로</a>
	</div>
	<div>
		<h2 id="project-03">프로젝트 주제 03</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nihil similique cupiditate doloremque pariatur reiciendis, ducimus! Similique, atque id! Sapiente reiciendis, maxime consequatur, modi consequuntur incidunt dolores. Architecto, necessitatibus, iusto.</p>
		<p>Itaque, quia eum inventore provident totam possimus nihil iste recusandae. Perferendis ut ea nam voluptates, recusandae reiciendis nihil alias qui facilis, ipsum aliquid voluptas labore, voluptate minus ipsa ex nostrum.</p>
		<p>Cum possimus magni id, blanditiis aut deserunt ipsam quaerat quod aliquid deleniti exercitationem recusandae voluptas illum nisi consectetur beatae laborum repellendus numquam? Tenetur repellendus quo ullam inventore nesciunt ut voluptate.</p>
		<a href="#lists">목록으로</a>
	</div>
	<div>
		<h2 id="project-04">프로젝트 주제 04</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto et laboriosam cumque laudantium autem, labore quod, doloribus blanditiis hic beatae similique iure quaerat minima, aliquid, quisquam numquam. Accusamus, aperiam, officiis.</p>
		<p>Nobis nostrum ad dicta illum cupiditate consectetur ut, praesentium dignissimos repellat culpa necessitatibus pariatur optio repudiandae corrupti modi tempora odit, molestiae non laborum eaque voluptates inventore ratione! Consequatur, ullam, aut!</p>
		<p>Et odit, repellendus labore eaque numquam in non quae provident perspiciatis, error quasi, eius iusto minus? Veniam soluta repellat explicabo reiciendis numquam iure, impedit, est aliquam facere nostrum, ratione ab.</p>
		<a href="#lists">목록으로</a>
	</div>
	<div>
		<h2 id="project-05">프로젝트 주제 05</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae tenetur facere obcaecati iure, blanditiis assumenda, animi vitae veritatis facilis sequi libero modi possimus! Maiores hic, recusandae numquam dolorum. Officia, culpa.</p>
		<p>Aspernatur perferendis porro ab ad illum eos aliquid dicta ratione neque eius corporis sed suscipit voluptatem hic veniam, soluta nobis, distinctio nulla excepturi. Veniam placeat, cum eius quas, debitis iste.</p>
		<p>Ipsa odio omnis aut explicabo. Dolore nihil eum deserunt optio ducimus officiis, cupiditate, asperiores quaerat nulla harum in? Fuga nemo laborum quae fugiat deleniti necessitatibus, doloribus at! Soluta, tempora, eum.</p>
		<a href="#lists">목록으로</a>
	</div>
	<div>
		<h2 id="project-06">프로젝트 주제 06</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis impedit dolorum corrupti omnis, sit esse nulla dolore doloribus asperiores veniam quaerat, excepturi recusandae voluptatum voluptate placeat provident sunt ad ullam.</p>
		<p>Nostrum maiores, quisquam commodi perferendis. Sint deserunt voluptatem architecto tempora ad, ipsam! Magnam nulla rem ipsum eius laborum eum, sapiente deserunt, similique excepturi odio sit. Beatae commodi rem aliquid quibusdam.</p>
		<p>Animi totam, voluptatum accusamus saepe voluptas, deserunt. Officiis natus sunt voluptas eveniet eius cum, itaque quisquam est ad, nam sit architecto repudiandae. Sint tempore totam reprehenderit laborum quasi, earum vitae.</p>
		<a href="#lists">목록으로</a>
	</div>
	<div>
		<h2 id="project-07">프로젝트 주제 07</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum iusto, enim impedit distinctio repudiandae, ducimus, doloremque id cumque quidem totam doloribus! Cupiditate eos, nisi recusandae autem tempore voluptates veniam vitae.</p>
		<p>Ad nobis iste placeat cumque reprehenderit, voluptate, ab, autem numquam doloribus quisquam earum voluptatibus vel. Atque inventore dolor distinctio omnis nobis eum incidunt, hic explicabo maiores cum, quae ipsum, eius.</p>
		<p>Impedit molestias a amet et ad animi harum vel soluta asperiores illo quasi, officia aut eaque sed, omnis earum, hic eligendi eveniet maiores voluptatem temporibus, esse incidunt atque enim. Repellat.</p>
		<a href="#lists">목록으로</a>
	</div>
	<div>
		<h2 id="project-08">프로젝트 주제 08</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor non aut eveniet mollitia hic nostrum quisquam repellat soluta deserunt suscipit, numquam, autem praesentium cupiditate enim, tempore possimus in excepturi itaque!</p>
		<p>Illum sequi voluptatum error culpa esse asperiores autem. Officia possimus deserunt placeat pariatur maxime, ducimus molestiae nesciunt. Quaerat omnis dolore numquam culpa animi vitae tempore amet, quas iure dicta, eos.</p>
		<p>Enim, tempore. Impedit optio repellat, quasi cum alias, ipsam rerum itaque at possimus, animi iste neque fugiat omnis distinctio nesciunt quos unde hic repudiandae pariatur numquam, quia doloribus ipsa obcaecati.</p>
		<a href="#lists">목록으로</a>
	</div>
	<div>
		<h2 id="project-09">프로젝트 주제 09</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius maxime necessitatibus maiores, molestiae animi praesentium saepe at dolore nam inventore ratione alias similique provident, consectetur rem excepturi illum vitae totam.</p>
		<p>Commodi porro iure, voluptatum quod nisi aut dolorem a est dolores aspernatur mollitia nobis nam molestiae totam magni neque molestias inventore. Quia voluptatem magni voluptas aliquam iste beatae esse qui!</p>
		<p>Iusto minus magnam, hic dolorum laudantium aut iure. Dicta, quos quam magnam nihil assumenda culpa optio ratione quae, consequuntur, vitae nostrum, fuga unde at quis. Esse dolores reiciendis dignissimos, necessitatibus.</p>
		<a href="#lists">목록으로</a>
	</div>
	<div>
		<h2 id="project-10">프로젝트 주제 10</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quae sit nihil amet animi illo, qui corporis laborum iusto sapiente voluptatibus. Aut veritatis voluptas possimus perferendis cumque aliquid sapiente voluptate!</p>
		<p>Illum blanditiis minus, quam cum quae laboriosam ipsam inventore numquam totam cupiditate optio ratione quod reprehenderit velit dolore architecto perspiciatis, reiciendis quia expedita omnis distinctio obcaecati ad? Quod, delectus, temporibus.</p>
		<p>Quod eum delectus aperiam, enim ullam! Et facilis necessitatibus cumque, aut aspernatur consectetur quia assumenda dolore delectus, illo voluptatibus saepe accusantium unde, consequuntur. Ab nemo eos sunt veritatis commodi, neque.</p>
		<a href="#lists">목록으로</a>
	</div>	
</body>
</html>