/* em단위 사용의 어려움 */
/* em은 상위 font-size는 상속이 되기 때문에, 원하는대로 font-size를 다루기가 어렵다. 그래서 rem( root em )을 사용한다. */

/* 미디어쿼리 @media 
	 CSS3 미디어쿼리 @media 환경 and 조건1 and 조건2 
	중단점(BreakPoint) 디자인
  --1-- 600 --2-- 1000 --3-- */

/* px단위 */
/*@media only screen and (max-width: 600px) {
	body::before {
		content: '스크린의 폭이 600px보자 작다.';
	}
}
@media only screen and (min-width: 601px) and (max-width: 1000px) {
	body::before {
		content: '스크린의 폭이 600px보다 크고, 1000px보다 작다.';
	}
}
@media only screen and (min-width: 1001px) {
	body::before {
		content: '스크린의 폭이 1000px보다 크다.';
	}
}*/

/* em단위; 미디어쿼리 안에서 
   em은 무조건 16px을 기본값으로 갖는다.*/
@media only screen and (max-width: 37.5em) {
	body::before {
		content: '스크린의 폭이 600px보자 작다.';
	}
}
@media only screen and (min-width: 37.5625em) and (max-width: 1000px) {
	body::before {
		content: '스크린의 폭이 600px보다 크고, 1000px보다 작다.';
	}
}
@media only screen and (min-width: 62.5625em) {
	body::before {
		content: '스크린의 폭이 1000px보다 크다.';
	}
}


/* 박스 스타일 */
div {
	width: 70%;
	margin-top: 30px;	
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
}

.wrapper-parent {	
	font-size: 40px;
	font-size: 2.5em;  /* 14 * 2.5 = 35px */
	font-size: 2.5rem; 
	background: #1AE0FB;}
.parent 				{	
	font-size: 30px;
	font-size: 1.88em; /* 14 * 1.88 = 65.8px*/
	font-size: 1.88rem;
	background: #8CFB82;} 
.child 					{ 
	font-size: 20px;
	font-size: 1.25em; /* 14 * 1.25 = 17.5px */
	font-size: 1.25rem;
	background: #FBF04E;}
.inner-child 		{ 
	font-size: 10px;
	font-size: 0.63em; /* 14 * 0.63 = 8.82px */
	font-size: 0.63rem;
	background: #fff; }

/* 속기형 font속성에는 rem을 사용할 수 없다. */

@media screen {} /* IE 6-8 미디어 타입 */
@media only screen {} /* IE 6-8 (x) only는 원천봉쇄가 목적이다. 미디어 쿼리 */ 

/* 표준의 중요성은 렌더링의 차이에 있다. 따라서 DOCTYPE이 문서가 표준으로 작동될 수 있도록 처리할 수 있어야 한다. */

/* inherit 와 auto */
/* auto는 브라우저가 기본적으로 가지고 있는 값, 그러나 부모의 값을 상속받아야 한다면 inherit를 사용한다. */

/* ~IE11 모두 비표준모드에서 width는 border까지만 해당된다. */

/* box size를 border까지로 보고 작업한다. */

